semanticdb
elpa
*.elc
ac-complish.dat
bookmarks
ede-projects.el
projectile-bookmarks.eld
saveplace.el
smex-items
recentf
*.dat
.directory
.semanticdb
projectile.cache
ido.last
.session
srecode-map.el
auto-save-list
session.*
*.o

